:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


  --color-pink: #EE469C;
  --color-orange: #FEA298;

  --color-black: #0C0411;
  --color-white: #FAF2F6;
}