
.c-admin{
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;

    @include breakpoint(medium){
        grid-template-columns: 1fr 1fr;
    }
}

.c-admin__video-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.c-admin__url{
    width: 100%;
}

.c-admin__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.c-admin__list-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.c-admin__list-title{
    margin: 0;
}