.c-slide_display {
  border-radius: 30px;
  background: linear-gradient(125deg, #380F64, #360037);
}

.c-timer_title{
  font-family: "Comic Sans MS";
  font-size: calc(64/16*1rem);
  color: #FEA298;
  text-shadow: 5px 5px #701543 ;
}